MANIFOLD_INGEST_KEY=local-ingest-key
MANIFOLD_DATABASE_URL=
MANIFOLD_ADDR=:8080
MANIFOLD_DB_HOST=localhost
MANIFOLD_DB_PORT=5432
MANIFOLD_DB_NAME=prod
MANIFOLD_DB_USER=teller
MANIFOLD_DB_SSLMODE=disable
MANIFOLD_PSA_ITEM=localhost_postgres_manifold
MANIFOLD_PSA_FIELD=password
POSTGRES_PSA_ITEM=localhost_postgres_postgres
POSTGRES_PSA_FIELD=password
TELLER_PSA_ITEM=localhost_postgres_manifold
TELLER_PSA_FIELD=password

VORTEX_FOUNTAIN_DIR=../fountain
VORTEX_PISTON_DIR=../piston
VORTEX_MANIFOLD_DIR=../manifold
VORTEX_FOUNTAIN_BUILD_DIR=../fountain/build

VORTEX_PROXY_ADDR=127.0.0.1:18080
VORTEX_MANIFOLD_URL=http://127.0.0.1:18080/v1/events/batch
VORTEX_FOUNTAIN_DB_PATH=/tmp/vortex-fountain.sqlite3
VORTEX_E2E_EVENT_NAME=vortex.e2e.smoketest

VORTEX_STATE_DIR=.vortex
VORTEX_MANIFOLD_LOG=.vortex/manifold.log
VORTEX_MANIFOLD_PID_FILE=.vortex/manifold.pid
VORTEX_PROXY_LOG=.vortex/ingest-proxy.log
VORTEX_PROXY_PID_FILE=.vortex/ingest-proxy.pid
